{% extends 'core/base.html' %}
{% load static %}
{% block title %}Usuarios{% endblock %}

{% block content %}

<h2 class="text-center mb-4" style="font-family: 'Poppins', sans-serif; color: #333;">USUARIOS</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Rol</th>
            <th>Nombre</th>
            <th>Correo Electrónico</th>
            <th>Fecha de Registro</th>
            
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.rol }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.date_joined }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">No hay usuarios registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}